/* ESTILOS GERAIS */
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #F8F8FF;
}
/* FIM */

/* CONTAINER PRINCIPAL */
section.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 600px;
}
/* FIM */

/* CONTAINER DO CELULAR */
/* .container-foto{
    width: 50%;
} */

.container-foto .foto{
    width: 400px;
    height: 580px;
}
/* FIM */

/* CONTAINER SECUNDÁRIO */
.container-secundario{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 350px;
}

.container-logo-inputs{
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    /* width: 300px; */
}

.container-logo-inputs .logo{
    margin: 40px 0 20px 0;
}

.container-logo-inputs .logo .logo-instagram{
    width: 150px;
    height: 50px;
}

.container-inputs .form-inputs{
    margin-bottom: 16px;
}

.container-inputs .form-inputs .inputs input{
    background-color: #f8f8f8;
    outline: none;
    border: none;
    text-align: left;
    width: 280px;
    height: 40px;
    font-size: 0.7rem;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding-left: 3px;
    margin-bottom: 6px;
}

.container-inputs .form-inputs .inputs button.entrar{
    background-color: #1E90FF;
    border-radius: 10px;
    width: 280px;
    height: 40px;
    font-size: 1rem;
    border: none;
    color: #fff;
    margin-top: 10px;
}

.container-inputs .form-inputs .inputs .ou{
    margin-top: 14px;
    font-size: 0.8rem;
    opacity: 0.8;
    color: #737373;
    position: relative;
}

.container-inputs .form-inputs .inputs .ou::before{
    content: '';
    width: 110px;
    height: 1px;
    display: block;
    position: absolute;
    left: 40px;
    top: 6px;
    background-color: #dbdbdb;
}
.container-inputs .form-inputs .inputs .ou::after{
    content: '';
    width: 110px;
    height: 1px;
    display: block;
    position: absolute;
    right: 40px;
    top: 6px;
    background-color: #dbdbdb;
}

.entrar-com-facebook{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.container-inputs .form-inputs .inputs .entrar-com-facebook .f-face{
    color: #fff;
    background-color: #385185;
    /* background-color: rgb(0, 149, 246); */
    width: 16px;
    height: 16px;
    font-size: 20px;
    margin: 0 8px 0 0;
    text-align: center;
    display: inline-block;
}

.container-inputs .form-inputs .inputs .entrar-com-facebook .facebook{
    font-size: 14px;
    /* color: #4682B4; */
    color: #385185;
    /* color: rgb( 53, 121, 234) ; */
}

.container-inputs .form-inputs .esqueceu-senha{
    /* color:#dbdbdb; */
    color:#00376b;
    font-size: 0.8rem;
    font-weight: bolder;
}

.container-cadastrar{
    background-color: white;
    border: 1px solid #dbdbdb;
    margin-bottom: 5px;
    padding: 5px;
}

.container-cadastrar .nao-tem-conta{
    /* color: #000; */
    /* font-weight: bolder; */
    font-size: 1rem;
    margin: 15px;
}

.container-cadastrar .cadastrar{
    /* color: #1E90FF; */
    color: #0095f6;
    /* color: rgb(0, 149, 246); */
    font-size: 1rem;
}

.container-google-apple .obtenha-app{
    /* color: #dbdbdb; */
    /* font-weight: bolder; */
    font-size: 1rem;
    /* padding-bottom: 2px; */
    margin: 15px;
}
.logo-microsoft{
    height: 40px;
    width: 110.76px;
}
.logo-google{
    height: 40px;
    width: 134.28px;
}
/* FIM */

@media(max-width:600px){
    .container-foto{
        display: none;
    }
}